body {
    color: green;
    border: black;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: '45px';
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 700px 20px, 100px;
  }
.round {border: solid;
  border-radius: 50%;
  border-color: green;
}
.square {border: 2px dashed;
  border-color: green;
 }
