.body {
    color: green;
    border: black;
    text-align: center;
    background: black;
    font-family: 'Andada Pro', serif;
    font-size: '45px';
  }
.style {border-top-style: dotted;
  border-color: green;
  background-color: black;
}